* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
  }

/** police du site **/

@font-face
{
    font-family: 'Raleway';
    src: url('css/polices/Raleway/static/Raleway-Regular.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;  
}

@font-face
{
    font-family: 'Thin';
    src: url('css/polices/Raleway/static/Raleway-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
}

header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

/** Navigation **/

nav ul
{
    display: flex;
    list-style-type: none;
}

nav li
{
    margin-right: 2em;
    
}

nav li a
{
    color: #0065FC;
    font-family: 'Thin', sans-serif;
    font-weight: lighter;
}

nav a:hover
{
    color: #3583f8;
}

.inscription
{
    font-weight: bold;
}

.activite
{
    color: black;
}