* {
    vertical-align: baseline;
   /** font-weight: inherit;
    font-family: inherit;**/
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: black;
    font-family: 'Raleway', sans-serif;
  }

/** police du site **/

@font-face
{
    font-family: 'Raleway';
    src: url('./polices/Raleway/static/Raleway-Regular.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;  
}


@font-face
{
    font-family: 'Thin';
    src: url('./polices/Raleway/static/Raleway-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
} 


@font-face
{
    font-family: 'Raleway-bold';
    src: url("./polices/Raleway/static/Raleway-Bold.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1,h2,h3,h4,b
{
    font-family: 'Raleway-bold';
}

/** body **/

main
{
    padding: 20px;
    max-width: 1220px;
    margin: auto;
}

body
{
    width: 100%;
}

/** icone **/

.fas
{
    color: #0065FC;
}

.fa-chart-line
{
    color: black;
}

.fa-star
{
    color: #0065FC;
}

.fas.fa-star.grey-star
{
    color: grey;
}



/** header **/

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/** Navigation **/

.menu
{
    display: flex;
    justify-content: flex-end;
}

nav ul
{
    display: flex;
    list-style-type: none;
}

nav li
{
    margin-right: 2em;
    
}

nav li a
{
    color: #0065FC;

    font-weight: lighter;
}

nav li a:hover
{
    border-top: 4px solid #3583f8;
    padding-top: 33px;
}

nav a:hover
{
    color: #3583f8;
}

.inscription
{
    font-family: 'Raleway-bold';
    color: #0065FC;
}

.activite-w
{
    color: black;
}

.hebergement-w
{
    font-family: 'Raleway-bold';
}

/** barre de recherche **/

.s-section
{
    margin-top: 65px;
}

.s-text
{
    margin: 10px;
}

.s-text 
{
    font-size: x-large;
}

.s_box
{
    display: flex;
    height: 46px;
    margin-top: 45px;
    margin-bottom: 55px;
    width: auto;
}


.s_fond
{   
    min-width: 54px;
    background-color: rgb(221, 221, 221);
    border: 2px rgb(226, 226, 226) solid;
    border-radius: 15px 0px 0px 15px;
}

.s_conteneur
{
    width: 100%;
    height: 100%;
}


.s_icon
{
    padding: 6px;
}

input[type="search"]
{
    outline: none;
    background-color: white;
    border: 0.1em rgb(226, 226, 226) solid;
    width: 230px;
    padding: 15px;
    margin-left: -12px;
}

form button
{   
    position: relative;
    border: none;
    outline: none;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
    background-color: #0065FC;
    color: white;
    padding: 5px;
    
}

button span
{
    color: white;
    padding: 5px ;
}

form button:hover
{
    background-color: #2a7fff;
}

button i[class="fas fa-search"] 
{
    display: none;
}

/** filtre **/

.filtre_section
{
    margin-bottom: 52px;
}

.filtre
{
    display: flex;
    font-weight: bold;          
    align-items: center;
    flex-wrap: wrap;
}

.filtre_div
{
    padding: 14px;
}

.filtre_div a
{
    border: 3px rgb(226, 226, 226) solid;
    border-radius: 50px;
    padding: 9px;
    padding-left: 38px;
    margin: 8px;
    font-family: 'Raleway-bold';
}

.filtre_div a:hover
{
    color: rgb(119, 119, 119);
}

div [class="filtre_div"] span
{   
    position: absolute;
    background-color: #DEEBFF;
    border-radius: 50px;
    text-align: center;
    padding: 12px;
    margin: 1px;
    margin-top: -12px;
    height: 19px;
    width: 19px;
    justify-content: center;
    align-content: center;
}

.info
{
    border: 1px rgb(190, 190, 190) solid;
    border-radius: 50%;
    padding: 9px;
    height: 14px;
    width: 14px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.filtre-info
{
   margin-top: 23px; 
}


/** section hebergement **/

.hebergement-aside
{
    display: flex;
    margin-top: 10px;
}

#hebergement
{
    background-color: #F2F2F2;
    padding: 21px;
    border-radius: 23px;
}

.hebergement-card 
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

.hebergement-text
{
    margin-top: 20px;
    margin-left: 20px;
}

.hebergement-text a
{
    font-family: 'Raleway-bold';
}

/** section hebergement cards **/

.card 
{
    height: 216px;
    width: 230px;
    border: solid 1px #f2f2f2;
    border-radius: 30px;
    padding: 5px;
    box-shadow: 5px 9px 19px -14px black;
    background-color: white;
    margin-top: 13px;
    margin-right: 13px;
  }
  
  .card-image {
    height: 126px;
  }
  
  .card img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 30px 30px 0 0;
  }
  
  .card-content {
    padding-top: 15px;
    padding-left: 8px;
  }
  
  .card-stars {
    color: #0065fc;
  }

/** aside **/

aside
{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    margin-left: 10px;
    padding: 22px;
    border-radius: 4%;
    
}

aside h3
{
    display: flex;
    justify-content: space-between;
}

.aside-card-group
{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.card-aside
{
    display: flex;
    height: 129px;
    width: 336px;
    border: solid 1px #f2f2f2;
    border-radius: 30px;
    padding: 5px;
    margin: 3px;
    position: relative;
    box-shadow: 5px 9px 19px -14px;
    background-color: white;
    margin-top: 20px;
}

.card-image-aside
{
    height: 131px;
    width: 170px;
}

.card-aside img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 30px 0 0 30px;
  }

.card-content-aside
{
    margin: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/** Activité **/

#activite
{
    display: flex;    
    flex-direction: column;   
    margin-top: 80px;
    margin-bottom: 80px;
}

.activite-card
{
    display: flex;
}

/** Activité card haute  **/

.activite-card-haute
{
    /**max-width: max-content;**/
    border: solid 1px #F2F2F2;
    border-radius: 30px;
    padding: 5px;
    margin: 13px;
    box-shadow: 5px 9px 19px -14px;
    background-color: white;
    min-width: 180px;
    min-height: 322px;
}

.card-image-activite-haute
{
    height: 270px;
}

.card-image-activite-haute img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 30px 30px 0 0;
  }

  /** Activité card basse  **/

.activite-card-basse
{
    height: 124px;
    /* max-width: 280px; */
    border: solid 1px #F2F2F2;
    border-radius: 30px;
    padding: 5px;
    margin: 13px;
    box-shadow: 5px 9px 19px -14px;
    background-color: white;
}

.card-image-activite-basse
{
    height: 95px;
}

.card-image-activite-basse img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 30px 30px 0 0;
  }

  .div-card-basse
  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .card-content-activite
  {
    margin: 9px;
  }

  #activite h4
  {
    word-wrap: break-word;
  }
/** foooter **/

footer
{
    background-color: #F2F2F2;
    padding-bottom: 170px;
}

.conteneur
{
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 35px;
}

.colonne-footer
{
    display: inherit;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
}

/** MEDIA QUERIES **/

@media all and (max-width: 450px)
{
    /** Général **/

    img 
    {
        max-width: 100%;
        height: auto;
    }

    body 
    { 
        word-wrap: break-word; 
        width: 90%;
    }
    
    /** Header **/

   
   header
   {
       display: flex;
       flex-direction: column;
       max-width: 1220px;
       margin: auto;
       margin-top: 30px;
   }

   .menu-i
   {
        align-self: baseline;
   }


   /** Navigation **/


   nav li
   {
    width: 50%;
    text-align: center;
    padding: 20px 0;
    border-bottom: 3px solid #f2f2f2;
    margin: 0;
   }

   nav ul
   {
    font-size: larger;
    width: 419px;
   }

   .inscription
   {
        position: absolute;
        top: 33px;
        color: #0065FC;
   }

    /**.menu-responsive
    {
        display: flex;
    }

    .menu-responsive a 
    {
        padding: 41px;
        font-size: larger;
        border-bottom: 4px solid #F2F2F2;
        padding-bottom: 15px;
        color: #0065FC;
        font-family: 'Thin', sans-serif;
        font-weight: lighter;
    }

    .menu-responsive a[class="activite-w"]
    {
        color: black;
    }

    .menu-responsive a:hover
    {   
        border-bottom: 4px solid #0065FC;
        padding-bottom: 15px;
    }

    .menu-i
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .inscription-m
    {
        font-weight: bold;
        color: #0065FC;
    }
    **/

   /** text sous NAV **/

   .s-text 
   {
        margin: 4px;
        margin-top: 33px;
        margin-bottom: 40px;
    }


   /** Barre de recherche **/
    
   div[class="s-text"] b
   {
       font-size: 1.3em;
   }

   div[class="s-text"] p
   {
        padding-top: 12px;
   }

   form button 
   {
        position: absolute;
        border: none;
        outline: none;
        border-radius: 15px 15px 15px 15px;
        cursor: pointer;
        background-color: #0065FC;
        color: white;
        padding: 5px;
        width: 49px;
        margin-right: 31px;
        right: 0;
        align-self: center;
        height: 46px;
        left: 284px;
    }

    button span
    {
        display: none;
    }

    button i[class="fas fa-search"] 
    {
        color: white;
        padding: 5px;
        display: contents;
    }

   /** filtre **/

   .filtre
    {
        font-family: 'Raleway',sans-serif;
        font-weight: bold;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        display: inline-block;
    }

    .filtre_div 
    {
        padding: 19px;
        flex-direction: row;
        
    }

    .filtre_div a 
    {
        border: 3px rgb(226, 226, 226) solid;
        border-radius: 50px;
        padding: 10px;
        padding-left: 46px;
    
    }

    /** hébergement **/

    .hebergement-card 
    {
        display: flex;
        flex-wrap: wrap;
        margin-top: 5px;
        justify-content: center;
    }

    .hebergement-aside
    {
        display: flex;
        margin-top: 10px;
        flex-wrap: wrap;
    }

    aside 
    {
        display: flex;
        flex-direction: column;
        background-color: #F2F2F2;
        padding: 16px;
        border-radius: 23px;
        margin-top: 11px;
        width: 100%;
        margin-left: 0;
    }

    .card-content-aside 
    {
        margin: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card-aside {
        display: flex;
        height: 130px;
        width: 288px;
        border: solid 1px #f2f2f2;
        border-radius: 30px;
        padding: 5px;
        margin: 3px;
        position: relative;
        box-shadow: 5px 9px 19px -14px;
        background-color: white;
        margin-top: 22px;
    }

    /** activité **/

    .activite-card 
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .activite-card-haute 
    {
        height: 315px;
        width: 276px;
        border: solid 1px #F2F2F2;
        border-radius: 30px;
        padding: 5px;
        margin: 13px;
        box-shadow: 5px 9px 19px -14px;
        background-color: white;
    }

    /** footer **/

    footer 
    {
        background-color: #F2F2F2;
        margin-top: 85px;
        height: auto;
    }

    .conteneur 
    {
        display: flex;
        justify-content: space-between;
        margin: 40px;
        width: 85%;
        padding: 0px;
        font-size: 1em;
        flex-direction: column;
    }

    .colonne-footer 
    {
        display: inherit;
        flex-direction: column;
        justify-content: space-between;
        height: 100px;
        margin: 2em;
    }
}

@media all and (max-width: 768px)

{
    /** Général **/

    body
    {
        width: fit-content;
    }
}